<!DOCTYPE html>

<head>
  <title>PCP Demo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileImage" content="https://www.paypalobjects.com/webstatic/developer/favicons/pp144.png">

  <link rel="preload" as="font" type="font/woff2" crossorigin
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0">

  <link rel="preload" as="image" href="/images/GPSLogo.png">

  <link rel="preload" as="style" href="/stylesheets/style.css">

  <% if (page_name != 'qrcode' && page_name != 'hw') { %>
  <link rel="preload" as="style" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <% }  %>

  <% if (page_name == 'qrcode') { %>
  <link rel="preload" as="style"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preload" as="script" type="text/javascript"
    href="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js">
  <link rel="preload" as="script" type="text/javascript"
    href="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js">

  <% }  %>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous">

  <link rel="preload" as="script" type="text/javascript"
    href="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

  <link rel="preload" as="script" type="text/javascript"
    href="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js">

  <link rel="preload" as="script" type="text/javascript"
    href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js">

  <link rel="preload" as="script" type="text/javascript"
    href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js">

  <link rel="preload" as="script" type="text/javascript"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">


  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="https://www.paypalobjects.com/webstatic/developer/favicons/pp152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.paypalobjects.com/webstatic/developer/favicons/pp144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
    href="https://www.paypalobjects.com/webstatic/developer/favicons/pp120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.paypalobjects.com/webstatic/developer/favicons/pp114.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.paypalobjects.com/webstatic/developer/favicons/pp57.png">
  <link rel="icon" sizes="32x32" href="https://www.paypalobjects.com/webstatic/developer/favicons/pp32.png">

  <style>
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .active {
      background-color: #4CAF50;
      color: white;
    }

    .topnav .icon {
      display: none;
    }

    .dropdown12 {
      float: left;
      overflow: hidden;
    }

    .dropdown12 .dropbtn {
      font-size: 17px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .dropdown12:hover {

      display: block !important;
      z-index: 150;
    }

    .dropdown12-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown12-content a {
      float: none;
      color: black;
      padding: 8px 16px;
      text-decoration: none !important;
      display: block;
      text-align: left;
    }

    .topnav a:hover,
    .dropdown12:hover .dropbtn {
      background-color: #555;
      color: white;
    }

    .dropdown12-content a:hover {
      background-color: #ddd;
      color: black;
      z-index: 150;
    }

    .dropdown12:hover .dropdown12-content {
      display: block !important;
    }

    .topnav.responsive .dropdown12-content {
      position: relative;
    }

    @media screen and (max-width: 600px) {

      .topnav a:not(:first-child),
      .dropdown12 .dropbtn {
        display: none;
      }

      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav.responsive {
        position: relative;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

      .topnav.responsive .dropdown12 {
        float: none;
      }

      .topnav.responsive .dropdown12-content {
        position: relative;
      }

      .topnav.responsive .dropdown12 .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

    .loadingText {
      font-size: 20px !important;
    }

    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>

  <div class="topnav" id="myTopnav">
    <a class="navbar-brand" href="/" style="color:white!important">
      <img style="max-width:100px;" src="/images/GPSLogo.png">
    </a>

    <div <% if (page_name == 'pcp') { %>class=" dropdown12 active" <% } else { %> class="dropdown12" <%} %>>
      <button class="dropbtn">PayPal
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown12-content">
        <a href="/pcp/" <% if (page_name == 'pcp' && section_name=="home") { %>class="active" <% } %>> Playground </a>
        <a href="/buttonvariations/" <% if (page_name == 'pcp' && section_name=="buttonvariations") { %>class="active"
          <% } %>>Button Variations </a>
        <a href="/standalone/" <% if (page_name == 'pcp' && section_name=="standalone") { %>class="active"
          <% } %>>Standalone Buttons </a>
        <a href="/pp-marks/" <% if (page_name == 'pcp' && section_name=="pp-marks") { %>class="active" <% } %>>Mark
          Buttons </a>
        <a href="/ba-flow/" <% if (page_name == 'pcp' && section_name=="ba-flow") { %>class="active" <% } %>>BA-Flow
        </a>
        <a href="/unbranded-apms/" <% if (page_name == 'pcp' && section_name=="unbranded-apms") { %>class="active"
          <% } %>>Unbranded APM </a>

      </div>
    </div>


    <div <% if (page_name == 'hw') { %>class=" dropdown12 active" <% } else { %> class="dropdown12" <%} %>>
      <button class="dropbtn">Hyperwallet
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown12-content">
        <a href="/hw-about" <% if (page_name == 'hw' && section_name=="about") { %>class="active" <% } %>>About </a>
        <a href="/hw" <% if (page_name == 'hw' && section_name=="playground") { %>class="active" <% } %>>Playground
        </a>

      </div>
    </div>

    <!--
      <div <% if (page_name == 'onboarding') { %>class=" dropdown12 active" <% } else { %> class="dropdown12"   <%} %>>
        <button class="dropbtn">PayPal Onboarding 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown12-content">
          <a href="/onboarding/first-party" <% if (page_name == 'onboarding' && section_name=="first-party") { %>class="active" <% } %> >First Party </a>

        </div>
      </div> 
    -->

    <div <% if (page_name == 'qrcode') { %>class=" dropdown12 active" <% } else { %> class="dropdown12" <%} %>>
      <button class="dropbtn">PayPal QR Code
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown12-content">
        <a href="/qrcode/cpqrc" <% if (page_name == 'qrcode' && section_name=="cpqrc") { %>class="active"
          <% } %>>Customer Presented QRC </a>

      </div>
    </div>


    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>


  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>