<!DOCTYPE html>
<html>

<head>
    <title>Cancel Page</title>
</head>

<style>
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-weight: bold;
        font-size: 1.5em;
    }
</style>
<body>

    <div class="flex">
        <p>Please close the window if it does not close by itself.</p>
    </div>
    <script>
        window.close();
    </script>
</body>

</html>